{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "importOrder": ["^(@?react|@?next)", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[.](.*)"],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
