@theme {
  /* Primary Scale */
  --color-*: initial;
  --color-primary-1: oklch(66.83% 0.221 32.95);
  --color-primary-1-foreground: oklch(1 0 0);
  --color-primary-2: oklch(0.7145 0.1803 32.82);
  --color-primary-2-foreground: oklch(1 0 0);
  --color-primary-3: oklch(66.83% 0.221 32.95 / 35%);
  --color-primary-3-foreground: oklch(0.3211 0 0);
  --color-primary-4: oklch(66.83% 0.221 32.95 / 25%);
  --color-primary-4-foreground: oklch(0.3211 0 0);
  --color-primary-5: oklch(66.83% 0.221 32.95 / 10%);
  --color-primary-5-foreground: oklch(66.83% 0.221 32.95);
  --color-primary-6: oklch(66.83% 0.221 32.95 / 10%);
  --color-primary-6-foreground: oklch(0.3211 0 0);

  /* Secondary Scale */
  --color-secondary-1: oklch(0.4879 0.2586 277.58);
  --color-secondary-1-foreground: oklch(1 0 0 / 80%);
  --color-secondary-2: oklch(0.4879 0.2586 277.58 / 80%);
  --color-secondary-2-foreground: oklch(1 0 0 / 80%);
  --color-secondary-3: oklch(0.9183 0.038 292.19);
  --color-secondary-3-foreground: oklch(0.3211 0 0);
  --color-secondary-4: oklch(0.4879 0.2586 277.58 / 35%);
  --color-secondary-4-foreground: oklch(0.3211 0 0);
  --color-secondary-5: oklch(0.4879 0.2586 277.58 / 10%);
  --color-secondary-5-foreground: oklch(0.3211 0 0);
  --color-secondary-6: oklch(0.4879 0.2586 277.58 / 5%);
  --color-secondary-6-foreground: oklch(0 0 0);

  /* Gray Scale */
  --color-gray-1: oklch(0.3211 0 0);
  --color-gray-1-foreground: oklch(1 0 0);
  --color-gray-2: color-mix(in oklch, var(--color-white-4) 20%, var(--color-gray-1));
  --color-gray-2-foreground: oklch(1 0 0);
  --color-gray-3: oklch(0.7187 0 0);
  --color-gray-3-foreground: oklch(0 0 0);
  --color-gray-4: oklch(0.9233 0.0067 286.27);
  --color-gray-4-foreground: oklch(0 0 0);
  --color-gray-5: oklch(0.9672 0 0);
  --color-gray-5-foreground: oklch(0 0 0);

  /* White Scale */
  --color-white-1: oklch(1 0 0);
  --color-white-1-foreground: oklch(0 0 0);
  --color-white-2: oklch(1 0 0 / 80%);
  --color-white-2-foreground: oklch(0 0 0);
  --color-white-3: oklch(1 0 0 / 50%);
  --color-white-3-foreground: oklch(0 0 0);
  --color-white-4: oklch(1 0 0 / 20%);
  --color-white-4-foreground: oklch(0 0 0);
  --color-white-5: oklch(1 0 0 / 15%);
  --color-white-5-foreground: oklch(0 0 0);

  /* Black Scale */
  --color-black-1: oklch(0 0 0);
  --color-black-1-foreground: oklch(1 0 0);
  --color-black-2: oklch(0.3211 0 0);
  --color-black-2-foreground: oklch(1 0 0);
  --color-black-3: oklch(0 0 0 / 35%);
  --color-black-3-foreground: oklch(1 0 0);
  --color-black-4: oklch(0 0 0 / 7%);
  --color-black-4-foreground: oklch(0 0 0);
  --color-black-5: oklch(0 0 0 / 70%);
  --color-black-5-foreground: oklch(0 0 0);

  /* Body Colors */
  --color-background: oklch(0.9507 0.0022 17.2);
  --color-foreground: oklch(0 0 0);

  /* Status Colors */
  --color-error: oklch(59.15% 0.202 21.24);
  --color-error-foreground: oklch(1 0 0);
  --color-error-light: oklch(0.9604 0.0152 12.43);
  --color-error-light-foreground: oklch(0 0 0);
  --color-error-light-hover: oklch(0.8991 0.0418 10.59);
  --color-error-light-hover-foreground: oklch(0.5915 0.202 21.24);
  --color-success: oklch(64.01% 0.175 146.74);
  --color-success-foreground: oklch(1 0 0);
  --color-success-light: oklch(97.54% 0.015 151.78);
  --color-success-light-foreground: oklch(0.6401 0.1751 146.74);
  --color-success-light-hover: oklch(0.9413 0.0455 152.16);
  --color-success-light-hover-foreground: oklch(0.6401 0.1751 146.74);
  --color-alert: oklch(0.7716 0.1499 51);
  --color-alert-foreground: oklch(0 0 0);
}

.dark {
  /* Primary Scale */
  --color-primary-1: oklch(0.6605 0.1647 32.77);
  --color-primary-1-foreground: oklch(1 0 0);
  --color-primary-2: color-mix(in oklch, var(--color-primary-1) 80%, var(--color-white-4));
  --color-primary-2-foreground: oklch(0.2074 0.0118 285.32 / 70%);
  --color-primary-3: oklch(0.6683 0.2205 32.95 / 45%);
  --color-primary-3-foreground: oklch(0.9173 0.0067 286.27);
  --color-primary-4: oklch(0.6683 0.2205 32.95 / 30%);
  --color-primary-4-foreground: oklch(0.3211 0 0);
  --color-primary-5: oklch(0.6683 0.2205 32.95 / 20%);
  --color-primary-5-foreground: oklch(0.9173 0.0067 286.27);
  --color-primary-6: oklch(0.6683 0.2205 32.95 / 20%);
  --color-primary-6-foreground: oklch(0.9173 0.0067 286.27);

  /* Secondary Scale */
  --color-secondary-1: oklch(0.6807 0.1598 288.44);
  --color-secondary-1-foreground: oklch(1 0 0);
  --color-secondary-2: color-mix(in oklch, var(--color-secondary-1) 20%, var(--color-white-4));
  --color-secondary-2-foreground: oklch(1 0 0);
  --color-secondary-3: oklch(0.41 0.1161 287.13);
  --color-secondary-3-foreground: oklch(1 0 0 / 80%);
  --color-secondary-4: oklch(0.4879 0.2586 277.58 / 25%);
  --color-secondary-4-foreground: oklch(1 0 0 / 80%);
  --color-secondary-5: oklch(0.5158 0.2444 280.29 / 30%);
  --color-secondary-5-foreground: oklch(1 0 0 / 80%);
  --color-secondary-6: oklch(0.6807 0.1598 288.44 / 10%);
  --color-secondary-6-foreground: oklch(0.9173 0.0067 286.27);

  /* Gray Scale */
  --color-gray-1: oklch(0.9173 0.0067 286.27);
  --color-gray-1-foreground: oklch(0.2501 0.0226 288.47);
  --color-gray-2: color-mix(in oklch, var(--color-white-4) 20%, var(--color-gray-1));
  --color-gray-2-foreground: oklch(0.2501 0.0226 288.47);
  --color-gray-3: oklch(0.7187 0 0);
  --color-gray-3-foreground: oklch(1 0 0 / 80%);
  --color-gray-4: oklch(0.464 0 0 / 70%);
  --color-gray-4-foreground: oklch(1 0 0 / 80%);
  --color-gray-5: oklch(0.6256 0.0478 286.36 / 16%);
  --color-gray-5-foreground: oklch(0.9173 0.0067 286.27);

  /* White Scale */
  --color-white-1: oklch(0.2501 0.0226 288.47);
  --color-white-1-foreground: oklch(1 0 0 / 80%);
  --color-white-2: oklch(0.2074 0.0118 285.32 / 70%);
  --color-white-2-foreground: oklch(1 0 0 / 80%);
  --color-white-3: oklch(0.2074 0.0118 285.32 / 50%);
  --color-white-3-foreground: oklch(1 0 0 / 80%);
  --color-white-4: oklch(0 0 0 / 10%);
  --color-white-4-foreground: oklch(1 0 0 / 80%);
  --color-white-5: oklch(0 0 0 / 18%);
  --color-white-5-foreground: oklch(1 0 0 / 80%);

  /* Black Scale */
  --color-black-1: oklch(1 0 0 / 80%);
  --color-black-1-foreground: oklch(0.2501 0.0226 288.47);
  --color-black-2: oklch(0.9233 0.0067 286.27);
  --color-black-2-foreground: oklch(0.2501 0.0226 288.47);
  --color-black-3: oklch(0 0 0 / 35%);
  --color-black-3-foreground: oklch(0.2501 0.0226 288.47);
  --color-black-4: oklch(0 0 0 / 12%);
  --color-black-4-foreground: oklch(1 0 0 / 80%);

  /* Body Colors */
  --color-background: oklch(0.3077 0.0268 284.72);
  --color-foreground: oklch(1 0 0 / 80%);

  /* Status Colors */
  --color-error: oklch(0.4866 0.1841 23.8);
  --color-error-foreground: oklch(1 0 0 / 90%);
  --color-error-light: oklch(0.2485 0.0575 15.42);
  --color-error-light-foreground: oklch(0.8991 0.0418 10.59);
  --color-error-light-hover: oklch(0.299 0.0553 12.17);
  --color-error-light-hover-foreground: oklch(0.8991 0.0418 10.59);
  --color-success: oklch(0.6141 0.1431 148.11);
  --color-success-foreground: oklch(1 0 0 / 90%);
  --color-success-light: oklch(0.2917 0.0643 146.1);
  --color-success-light-foreground: oklch(0.9754 0.0149 151.78);
  --color-success-light-hover: oklch(0.3542 0.0675 147.05);
  --color-success-light-hover-foreground: oklch(0.9754 0.0149 151.78);
  --color-alert: oklch(0.712 0.131 32.07);
  --color-alert-foreground: oklch(1 0 0 / 80%);
}
