SENTRY_ORGANIZATION=
SENTRY_PROJECT=
SENTRY_DSN=
SENTRY_AUTH_TOKEN=

# Public API base URL
NEXT_PUBLIC_API_BASE_URL=

NEXT_PUBLIC_IMPLEMENTER_ADDRESS=

NEXT_PUBLIC_EXPIRATION_HEIGHT=

NEXT_PUBLIC_IMAGE_UPLOAD_URL=
NEXT_PUBLIC_IMAGE_URL=
NEXT_PUBLIC_UPLOADED_IMAGE_URL=

NEXT_PUBLIC_ERGO_EXPLORER_API=

NEXT_PUBLIC_ERGO_EXPLORER=

NEXT_PUBLIC_RECAPTCHA_SITEKEY=
